/*Background image that will fill the page regardless of browser size.*/
#bg {
  opacity: 0.7;
  position: fixed; 
  top: 0; 
  left: 0; 
  z-index:-100; 
  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

#big_name {
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 55px;
  color: #ebf2fa;
  width: 300px;
  float: left;
  padding: 10px 10px 15px 50px;
}

.content-boxm {
  background-color: rgba(242, 241, 238, 0.6);
  padding: 10px 10px 10px 10px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 10px; 
  margin-top: 10px;
}

.content-boxmm {
  background-color: rgba(242, 241, 238, 0.75);
  border-radius: 20px 20px 20px 0px; 
  padding-left: 10px;
  padding-bottom: 5px;
  min-width: 200px;
}

.content-boxmb {
  position: relative;
  float: right;
  padding: 10px 30px 10px 10px;
  font-family:'Roboto Slab', serif; 
  margin-bottom: 10px; 
  margin-top: 10px;
  margin-left: 10px;
  max-width: 275px;
  word-wrap: break-word;
}

.content-boxargh {
  background-color: rgba(242, 241, 238, 0.6);
  padding: 10px 20px 20px 20px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 10px; 
  margin-top: 10px;
  min-width: 700px;
}

.content-box-width {
  background-color: rgba(242, 241, 238, 0.6);
  padding: 10px 20px 20px 20px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 10px; 
  margin-top: 10px;
  min-width: 600px;
  max-width: 630px;
}

.content-box {
  background-color: rgba(242, 241, 238, 0.6);
  padding: 10px 20px 20px 20px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 10px; 
  margin-top: 10px;
}

.content-boxd {
  background-color: rgba(242, 241, 238, 0.85);
  padding: 10px 20px 20px 20px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 20px; 
  margin-top: 10px;

}

.content-boxw {
  background-color: rgba(242, 241, 238, 0.6);
  padding: 10px 20px 20px 20px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 10px; 
  margin-top: 10px;
  min-width: 1350px;
  max-width: 1400px;
}

.content-boxs {
  background-color: rgba(242, 241, 238, 0.85);
  padding: 10px 20px 20px 20px;
  font-family:'Roboto Slab', serif; 
  border-radius: 20px; 
  margin-bottom: 10px; 
  margin-top: 10px;
  min-width: 260px;
  max-width: 280px;
}

.need-head {
  margin-top: 90px;
}

.need-headl {
  margin-top:20px;
}

.need-headll {
  margin-top:50px;
}

.robo-textn {
  padding-top: 15px;
  padding-right: 50px;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-color: #ebf2fa;
}

.robo-text {
  font-family: 'Roboto Slab', serif;
  color: #ebf2fa;
}

.robo-textb {
  font-family: 'Roboto Slab', serif;
  color: black;
}

.pac-textb {
  font-family: 'Pacifico', cursive;
  color: black;
  margin-right: 1px;
  min-width: 100px;
}
.pac-textw {
  font-family: 'Pacifico', cursive;
  color: white;
  margin-right: 1px;
  min-width: 100px;
}

.big_head {
  padding-top: 70px;
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
  color: #0b1a2b;
}

.big_headns {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Pacifico', cursive;
  color: #0b1a2b;
  text-align: center;
}

.image-box {
  position: relative;
  float: left;
  height: 250px;
  width: 200px;
  margin-bottom: 20px; 
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 20px;
}

.image-box img {
  padding: 10px;
  background-color: rgba(242, 241, 238, 0.85);
  border-radius: 20px;
  height: 100%;
}

.image-boxs {
  position: relative;
  float: left;
  height: 250px;
  width: 200px;
  margin-bottom: 25px; 
  margin-top: 10px;
  border-radius: 20px;
/*  text-align: center;*/
}

.image-boxs img {
  padding: 10px;
  background-color: rgba(242, 241, 238, 0.75);
  border-radius: 20px;
  max-width: 180px;
  max-height: 250px;
}

.center {
  text-align: center;
}

#footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height:20px;
  background-color: black;
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

.nowrap {
  white-space: nowrap ;
}

.wordwrap {
  word-wrap: break-word;
}