{% extends "layout.html" %}
{% block body %}
<html>
<div class="span12 big_head">
<h1>all of BeerMe's beers</h1> 
</div>
<div class="robo-text">
<form method = "POST" action="/beers_display">
	<div class="robo-textb">sort by:</div>
    <select name="sort_beers">
        <option value="name">name</option>
        <option value="brewer">brewer</option>
        <option value="origin">origin</option>
        <option value="style">style</option>
        <option value="abv">abv</option>
        <option value="average">average rating</option>
    </select>
    <br>
<button class="btn btn-small btn-primary robo-text" type="submit">sort!</button>
</form>
</div>
<div class="span7 content-box">
{% if alphabetical %}
{% for beer in alphabetical %}
<a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
<br>
{% endfor %}
{% endif %}

{% if by_brewer %}
{% for beer in by_brewer %}
{{ beer.brewer }}, <a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
<br>
{% endfor %}
{% endif %}

{% if by_origin %}
{% for beer in by_origin %}
{{ beer.origin }}, <a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
<br>
{% endfor %}
{% endif %}

{% if by_style %}
{% for beer in by_style %}
{{ beer.style }}, <a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
<br>
{% endfor %}
{% endif %}

{% if by_abv %}
{% for beer in by_abv %}
{{ "%.2f"%beer.abv }}%,  <a href="/beer/{{ beer.id }}">{{ beer.name }}</a>
<br>
{% endfor %}
{% endif %}

{% if by_avg %}
{% for beer in by_avg %}
{{ "%.2f"%beer[1] }},  <a href="/beer/{{ beer[0] }}">{{ beer[2] }}</a>
<br>
{% endfor %}
{% endif %}
</div>
<div class="content-boxm center span4">
<h4>want to <a href="/new_beer">add a beer</a> to our list?</h4>
</div>
</html>
{% endblock %}