<html>
<h2>{{ beer.name }}</h2>
brewer: {{ beer.brewer }}<br>
region: {{ beer.origin }}<br>
style: {{ beer.style }}<br>
abv: {{ "%.2f"%beer.abv }}%<br>
<a href={{beer.link}} target="_blank">{{ beer.link }}</a><br>
<h4>average rating: {{ "%.2f"%average }}</h4>

{% if user_rating %}
<h4>your rating: {{ user_rating.rating }}</h4>
<h2>change your rating</h2>

{% elif my_rating %}
<h4>our prediction for you: {{ prediction }}</h4>

{% else %}
<h4>our prediction for you: {{ prediction }}</h4>
<form action="/add_queue/{{beer.id}}">
<button type = "submit">add to queue</button>
</form>
<h2>rate this beer</h2>
{% endif %}

<form method = "POST" action="/change_rating/{{beer.id}}">
rating: 
    <select name="new_rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
<input type = "submit">
</form>
<br>
<form action="/home">
<button type = "submit">home</button><br>
</form>
<br>
<form action="/profile/{{user_id}}">
<button type = "submit">my profile</button>
</form>
<br>
<form action="/profile/queue/{{user_id}}">
<button type = "submit">my queue</button>
</form>
<br>
<form action="/beers">
<button type = "submit">all beers</button>
</form>
<br>
<h4>if you like this, you should also try...</h4>
{% for similar in try_five %}
<a href="/beer/{{ similar[2] }}">{{ similar[1] }}</a>
<br>
our guess for you: {{ similar[3] }} 
<p>
{% else %}
<h4>see our entire listing for more</h4>
{% endfor %}
</html>