<html>
<h1>hey {{ user_name }}, how 'bout a beer?</h1>
<body>
<br>
<h3>beers with highest similarity coefficient to user</h3>
<br>
<h3>highest rated beers</h3>
{% for average in high_averages %}
<a href="/beer/{{ average[0] }}">{{ average[3] }}</a>
<br>
average: {{ "%.2f"%average[1] }} 
<p>
{% endfor %}
<br>
<h3>most rated beers</h3>
{% for popular in most_rated %}
<a href="/beer/{{ popular[0] }}">{{ popular[3] }}</a>
<br>
average: {{ "%.2f"%popular[1] }} 
<p>
{% endfor %}
<br>
<form action="/profile/{{user_id}}">
<button type = "submit">my profile</button><br>
</form>
<br>
<form method = "GET" action="/logout">
<button type = "submit">logout</button>
</form>
</body>
</html>