{% extends "layout.html" %}
{% block body %}
<html>
<body>
<div class="container-fluid need-head">
{% from "_formhelpers.html" import render_field %}
<form method = "POST" action="/user_login">
  <dl>
  	<div class="row-fluid">
  		<div class="span4">
	<input type="text" class="robo-text input-block-level" placeholder="email" {{ (form.email) }}
	<input type="password" class="robo-text input-block-level" placeholder="password" {{ (form.password) }}
  </dl>
  <p><button class="btn btn-large btn-primary robo-text" type="submit">BeerMe!</button>
</form>
</div>
<div class="span6"
</div>
</div>
<div class="robo-text"><h3><a href="{{ url_for("register") }}">join BeerMe!</a></h3><br></div>
</div>
</body>
</html>
{% endblock %}