{% extends "layout.html" %}
{% block body %}
<html>
<div class="span12 big_head">
<h1>add a beer to BeerMe!</h1>
</div>
<div class="span6 content-boxargh"> 
<div class = "robo-textb">
<h3>BeerMe uses <a href="http://beeradvocate.com/" target="_blank">Beer Advocate</a> as a reference guide</h3> 
</div>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/new_beer">
  <dl>

	<h5>{{ render_field(form.name) }} full name</h5>
	<h5>{{ render_field(form.brewer) }} full name of company</h5>
	<h5>{{ render_field(form.origin) }} state or country (if outside U.S.)</h5>
	<h5>{{ render_field(form.style) }} example: "American Adjunct Lager"</h5>
	<h5>{{ render_field(form.abv) }} example: "5.00" or "4.70"</h5>
	<h5>{{ render_field(form.link) }} example: "http://www.redstripebeer.com/"</h5>
	<h5>{{ render_field(form.image) }} link to JPEG or PNG / 2[width] x 3[height]</h5>
  </dl>
  <p><button class="btn btn-large btn-primary robo-text" type="submit">submit</button>
</form>
</div>
</body>
</html>
{% endblock %}