{% extends "layout2.html" %}
{% block body %}
<html>
<div class="need-headl"></div>
<div class="big_head">
<h1>tell us a little about yourself</h1>
</div>
<body>
	<div class="span5 robo-textb content-box">
{% from "_formhelpers.html" import render_field %}
<h3>sign up for BeerMe</h3>
<form method=post action="/register">
  <dl>

	what would you like us to call you?<br>{{ form.username }}
	{{ render_field(form.email) }}
	{{ render_field(form.password) }}
	<br>
	<h4>not required...</h4>
	{{ render_field(form.age) }}
	{{ render_field(form.city) }}
	{{ render_field(form.state) }}
  </dl>
  <p>
  	<button class="btn btn-small btn-primary robo-text" type="submit">next</button>
</form>
</div>
</div>
</body>
</html>
{% endblock %}