{% extends "layout.html" %}
{% block body %}
<html>
<div class="span12 big_head">
<h1>{{ user_name }}, you've had {{ count }} beers</h1>
</div>
<div class="span3 content-box">
<h3>{{ user_name }}'s highest rated</h3>
{% for high in high_rated %}
<a href="/beer/{{high.beer.id}}">{{high.beer.name}}</a><br>
rating: {{ high.rating }}<br>
<p>
{% endfor %}
<h3><a href="/profile/ratings/{{userid}}">see all ratings</a><br></h3>
</div>
<div class="span8 content-box">
<h3>beers we think you'll like</h3> 
{% for prediction in high_pred %}
<a href="/beer/{{ prediction[2] }}">{{ prediction[1] }}</a>
<br>
our guess for you: {{ prediction[3] }} 
<p>
{% else %}
<h4>have you tried our entire repertoire? suggest beers to add</h4>
{% endfor %}
<h3><a href="/profile/predictions/{{userid}}">see all recommendations</a></h3>
</div>
</html>
{% endblock %}