{% extends "layout2.html" %}
{% block body %}
<html>
<body>

<div class="span12 big_head">
<h1>almost there... tell us about your taste</h1>
</div>

<div class="span4 content-boxls">
	<h3>please rate at least 5:</h3>
	<form method = "POST" action="/user_info">
	{% for beer in rando_beers %}
		<div class="row">
			<div class="content-boxmmml wordwrap">
				<div class="img image-boxsl">
					<a href="/beer/{{ beer[0] }}"><img src="{{ beer[1][1] }}"/></a>
				</div>
				{{ beer[1][0] }}
				<br>
    			<select name="{{ beer[0] }}">
    			    <option value="0">rate me!</option>
    			    <option value="1">1</option>
    			    <option value="2">2</option>
    			    <option value="3">3</option>
    			    <option value="4">4</option>
    			    <option value="5">5</option>
    			</select>
			</div>
		</div>
	{% endfor %}
	<div class="center">
		<button class="btn btn-large btn-primary robo-text" type="submit">submit</button>
	</div>
	</form>
</div>

</body>
</html>
{% endblock %}