{% extends "layout.html" %}
{% block body %}
<html>
<body>
<div class="span12 big_head">
<h1>{{ user_name }}, you have {{ count }} beers to try</h1>
</div>
<div class="span3 content-box">
<h3>{{ user_name }}'s queue</h3>
{% for beer in queue %}
<a href="/beer/{{ beer[2] }}">{{ beer[1] }}</a><br>
our guess for you: {{ beer[3] }}<br>
<p> 
{% endfor %}
<br>
not sure what to try?<br>
check out <a href="/profile/predictions/{{userid}}">your predictions</a> page for beers you'll love
</div>
<div class="span8 content-box">
<h3>want to add one of these to your queue?</h3> 
{% for prediction in high_pred %}
<a href="/beer/{{ prediction[2] }}">{{ prediction[1] }}</a>
<br>
our guess for you: {{ prediction[3] }} 
<p>
{% else %}
<h4>have you tried our entire repertoire? suggest beers to add</h4>
{% endfor %}
</div>
</body>
</html>
{% endblock %}